<!DOCTYPE html>
<html>
<head>
  <title>jQuery WeUI</title>
  <% include _head.html %>
</head>
<style>
  body {
    background-color: #eee
  }
</style>

<body ontouchstart>
<header class='demos-header'>
  <h1 class="demos-title">图片文章列表</h1>
</header>
<div class="bd">

  <a href="#" class="articlelist">
    <div class="pic">
      <img src="https://qnwww2.autoimg.cn/newsdfs/g20/M10/07/BC/autohomecar__wKgFVFpAl2eAG2q0AAGysPI3t8k656.jpg" height="200"/>
    </div>
    <div class="content">
        <div class="title">上汽通用别克新君威V威VS一汽-大众迈腾</div>
        <p>全新上市的2017款上汽通用别克新君威和一汽大众迈腾，并将从动力、油耗、操控、空间、配置这5方面进行对比，到底有没有谁能做到“最全面中型车”呢</p>
    </div>
  </a>

  <a href="#" class="articlelist">
    <div class="pic">
      <img src="https://qnwww2.autoimg.cn/newsdfs/g20/M10/07/BC/autohomecar__wKgFVFpAl2eAG2q0AAGysPI3t8k656.jpg"/>
    </div>
    <div class="content">
      <div class="title">上汽通用别克新君威V威VS一汽-大众迈腾</div>
      <p>全新上市的2017款上汽通用别克新君威和一汽大众迈腾，并将从动力、油耗、操控、空间、配置这5方面进行对比，到底有没有谁能做到“最全面中型车”呢</p>
    </div>
  </a>


  <a href="#" class="articlelist">
    <div class="pic">
      <img src="https://qnwww2.autoimg.cn/newsdfs/g20/M10/07/BC/autohomecar__wKgFVFpAl2eAG2q0AAGysPI3t8k656.jpg"/>
    </div>
    <div class="content">
      <div class="btitle">上汽通用别克新君威V威VS一汽-大众迈腾</div>

    </div>
  </a>
</div>

<header class='demos-header'>
  <h1 class="demos-title">产品列表组件</h1>
</header>

<div class="s_articlelist">
  <div class="title">
    二级品牌名称
  </div>

  <div class="list">
    <ul>
      <li>
        <a href="#">
          <div class="list_item">
            <div class="pic">
              <img width="90" src="http://cdn.car.checheng.com/1/118/1581/32395/1499073101458426.jpg">
            </div>
            <div class="content">
              <p>车系名称</p>
              <del class="text-red">48.12-67.21万</del>
            </div>
          </div>
        </a>
      </li>


      <li>
        <a href="#">
          <div class="list_item">
            <div class="pic">
              <img width="90" src="http://cdn.car.checheng.com/1/118/1581/32395/1499073101458426.jpg">
            </div>
            <div class="content">
              <p>车系名称</p>
              <del class="text-red">48.12-67.21万</del>
            </div></div>
        </a>
      </li>
    </ul>
  </div>

  <div class="title">
    二级品牌名称
  </div>

  <div class="list">
    <ul>
      <li>
        <a href="#">
          <div class="list_item">
            <div class="pic">
              <img width="90" src="http://cdn.car.checheng.com/1/118/1581/32395/1499073101458426.jpg">
            </div>
            <div class="content">
              <p>车系名称</p>
              <del class="text-red">48.12-67.21万</del>
            </div>
          </div>
        </a>
      </li>


      <li>
        <a href="#">
          <div class="list_item">
            <div class="pic">
              <img width="90" src="http://cdn.car.checheng.com/1/118/1581/32395/1499073101458426.jpg">
            </div>
            <div class="content">
              <p>车系名称</p>
              <del class="text-red">48.12-67.21万</del>
            </div></div>
        </a>
      </li>
    </ul>
  </div>
</div>



<% include _foot.html %>


</body>
</html>
