<!DOCTYPE html>
<html>
<head>
  <title>jQuery WeUI</title>
  <% include _head.html %>
</head>
<style>
  body {
    background-color: #eee
  }
</style>

<body ontouchstart>
<header class='demos-header'>
  <h1 class="demos-title">展开/收缩</h1>
</header>
<div class="bd">

  <div class="cardlist">
    <img
        src="https://qnwww2.autoimg.cn/newsdfs/g3/M00/22/26/autohomecar__wKgHalo7QRuAYXIaAAu7dHpp_uU863.jpg?imageView2/1/w/368/h/207/format/webp"
        width="100%" style="display: block"/>

    <div class="cardbox">
      <div class="content">
        <div class="title">这是一行字数可能会比较多会比较多的标</div>
        <p>
          这是一些灰色的小文字 上面和下面这里的字体大小不在组件内控制，直接调用单独样式
        </p>
      </div>
      <div class="logo">
        <img src="https://car0.autoimg.cn/logo/brand/50/129302257960370000.jpg" width="50"/>
      </div>
    </div>
  </div>


  <div class="cardlist">
    <img
        src="https://qnwww2.autoimg.cn/newsdfs/g3/M00/22/26/autohomecar__wKgHalo7QRuAYXIaAAu7dHpp_uU863.jpg?imageView2/1/w/368/h/207/format/webp"
        width="100%" style="display: block"/>

    <div class="cardbox">
      <div class="content">
        <div class="title">这是一行字数可能会比较多会比较多的标</div>
        <p>
          这是一些灰色的小文字 上面和下面这里的字体大小不在组件内控制，直接调用单独样式
        </p>
      </div>
      <div class="logo">
        <img src="https://car0.autoimg.cn/logo/brand/50/129302257960370000.jpg" width="50"/>
      </div>
    </div>
  </div>

  <div class="cardlist">
    <img
        src="https://qnwww2.autoimg.cn/newsdfs/g3/M00/22/26/autohomecar__wKgHalo7QRuAYXIaAAu7dHpp_uU863.jpg?imageView2/1/w/368/h/207/format/webp"
        width="100%" style="display: block"/>

    <div class="cardbox">
      <div class="content">
        <div class="title">这是一行字数可能会比较多会比较多的标</div>
        <p>
          这是一些灰色的小文字 上面和下面这里的字体大小不在组件内控制，直接调用单独样式
        </p>
      </div>
      <div class="logo">
        <img src="https://car0.autoimg.cn/logo/brand/50/129302257960370000.jpg" width="50"/>
      </div>
    </div>
  </div>

</div>


<% include _foot.html %>


</body>
</html>
