<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <header class='demos-header'>
      <h1 class="demos-title">展开/收缩</h1>
    </header>
    <div class="bd">
      <div class="openlist">
        <ul>
          <li>
            <div id="list_1">标题一<i class="iconfont icon-xia"></i></div>
            <p>内容一</p>
          </li>
          <li>
            <div id="list_2">标题二<i class="iconfont icon-xia"></i></div>
            <p>内容二</p>
          </li>
          <li>
            <div id="list_3">标题三<i class="iconfont icon-xia"></i></div>
            <p>内容三</p>
          </li>
          <li>
            <div id="list_4">标题四<i class="iconfont icon-xia"></i></div>
            <p>内容四</p>
          </li>
        </ul>
      </div>

    </div>
    <% include _foot.html %>


  </body>
</html>
