<!DOCTYPE html>
<html>
<head>
  <title>jQuery WeUI</title>
  <% include _head.html %>
</head>

<body ontouchstart>

<header class='demos-header'>
  <h1 class="demos-title">头部导航</h1>
</header>

<div class="topbar" >
  <div class="picker-button l">wewe</div>
  <div class="title">wewewe</div>
  <div class="picker-button r">wewe</div>
</div>
<br/>

<div class="topbar">
  <div class="logo l"><img src="http://m.maiche.com/core-assets/mcw/application/news2/xincherili/files/04ffebabb499e1ee1820069fb1f2ab1e.png"/></div>
  <div class="title">看车 选车 买车</div>
  <div class="picker-button r">城市</div>
</div>
<br/>

<div class="topbar">
  <div class="logo l"><img src="http://m.maiche.com/core-assets/mcw/application/news2/xincherili/files/04ffebabb499e1ee1820069fb1f2ab1e.png"/></div>
  <div class="title">看车 选车 买车</div>
  <div class="picker-button r">城市</div>
</div>

<br/>
<% include _foot.html %>

</body>
</html>
