<!DOCTYPE html>
<html>
<head>
  <title>jQuery WeUI</title>
  <% include _head.html %>
</head>

<body ontouchstart>

<header class='demos-header'>
  <h1 class="demos-title">头部导航</h1>
</header>
<div class="fix" style="width: 100%;height: 30px;background-color: #0a8ddf"></div>
<div style="width: 100%;height: 80px;background-color: #ddd"></div>
<div id="dtop" style="width: 100%;height: 80px;background-color: #0D3349"></div>
<div style="width: 100%;height: 80px;background-color: #ddd"></div>


<div class="b-box" style="width: 50px;height: 50px;background-color: #3d4145;position: fixed;display: none"></div>


<div style="height: 1000px"></div>


<% include _foot.html %>
<script>
  $(".fix").fixedtop(0);//必须放值，第一个值为触发后div与顶部距离
  $("#dtop").fixedtop(30);
  $(".b-box").fixedtop(300,500);//第二个值代表页面需滚动500px距离才会触发


</script>
</body>
</html>
